{% extends "base.html" %}

{% block content %}
<main class="container m-4">
  <div >

  <form  method="post" action="{% url 'addTicket' %}">
    {% csrf_token %}
    {% for field in form %}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      <label  class="visually-hidden">{{ field.label_tag }}</label>
      <p>{{ field }}</p>
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}    
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="signup">Add Ticket!</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  </div>
</main>
  {% endblock %}