{% extends "base.html" %}

{% block content %}
<div class="container">

    <br>
    <h1 class="container-fluid text-primary py-2  p_price py-2">oops.. !!</h1>
    <hr>
    <p><strong>You're here because you have one of these errors!</strong></p>
    <ul>
        <li><p>uploaded image don't contain QR code</p></li>
        <li><p>QR contain other data, not Ticket info.</p></li>
        <li><p>Ticket not found or deleted </p></li>
    </ul>
    <hr>
    <p><strong>Try again please!</strong></p>

</div>

{% endblock %}