{% extends "base.html" %}
{% block title %} Ticket List {% endblock %}

{% block content %}
  <h1>Tickets List</h1>

  <a href="{% url 'addTicket' %}"> Add new ticket</a> 

  {% if tickets %}
  <ul>
    {% for ticket in tickets %}
      <li>
        <a href="{{ ticket.get_absolute_url }}">{{ ticket.title }}</a> $ {{ticket.price}}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no tickets in the library.</p>
  {% endif %} 

  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}
{% endblock %}