{% extends "base.html" %}

{% block content %}
<h1>Title: {{ ticket.title }}</h1>

<p><strong>Ticket id:</strong> <a href="">{{ ticket.id }}</a></p>
<p><strong>Created by:</strong> <a href="">{{ ticket.created_by }}</a></p>
<p><strong>Location:</strong> {{ ticket.location }}</p>
<p><strong>Description:</strong> {{ ticket.description }}</p>
<p><strong>Price:</strong> {{ ticket.price }}</p>
<p><strong>Created on:</strong> {{ ticket.created_on }}</p>

<p><img src="{{ ticket.code.url }}" width=290 height=290></img>
</p>
<a href="{% url 'addTicket' %}"> Buy</a>
<a href="{% url 'ticketlist' %}"> Back</a>

{% endblock %}