<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">

    <title> {% block title %} {% endblock title %}</title>

</head>

<body>

    <header class="container">
        <div class="row flex-nowrap justify-content-around align-items-center py-3">   
            <a class="col-sm-2 col-md-2 col-lg-2" href="{% url 'home' %}"> <img
                    src="{% static 'images/logo.png' %}" width="75" height="75"></a>

            {% if request.user.is_authenticated %}  
                <div class="col-sm-2 col-md-4 col-lg-4 ">
                    <p class="btn btn-md col-sm-12 col-md-3 py-2">Welcome,<strong> {{request.user.first_name}}</strong></p>
                    <a class="btn btn-md col-sm-12 col-md-3 py-2" href="{% url 'logout' %}">Logout</a>   
                </div>
            {% else %}
                <div class="col-sm-2 col-md-4 col-lg-3 ">
                    <a class="btn btn-lg col-sm-12 col-md-3   my-auto  egoreis"
                       href="{% url 'login' %}">Login</a>
                    <a class="btn btn-lg  col-sm-12 col-md-3   my-auto egoreis"
                       href="{% url 'signup' %}">Register</a>
                </div>
            {% endif%}
        </div>
    </header>
  
    <div class="container">
    
        {% block content %}
    
        {% endblock %}
    
    </div>


    <footer>
        <div class="row m-0 bg-dark py-5">
            <div class="col-md-12 ">
                <div class="footer-social">
                    <ul class="list-unstyled row align-items-center justify-content-center">
                        <li><a class="mx-2 wrap-row fadeInUp " href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                        </li>
                        <li><a class="mx-2 wrap-row fadeInDown" href="#"><i class="fa fa-twitter"
                                                                            aria-hidden="true"></i></a></li>
                        <li><a class="mx-2 wrap-row fadeInUp" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a class="mx-2 wrap-row fadeInDown" href="#"><i class="fa fa-linkedin"
                                                                            aria-hidden="true"></i></a></li>
                        <li><a class="mx-2 wrap-row fadeInUp" href="#"><i class="fa fa-instagram"
                                                                          aria-hidden="true"></i></a></li>
                        <li><a class="mx-2 wrap-row fadeInDown" href="#"><i class="fa fa-envelope"
                                                                            aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="company-about fadeIn row text-center m-2 text-light justify-content-center">
                    <p>Copyright © {% now "Y" %} <a href="https://www.linkedin.com/in/hossamhassan74/">Hossam Hassan</a> </p>
                </div>
            </div>
        </div>
    </footer>
    

    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>